/*home page*/
/*the images should be boxes that are links to pages
the transitions are for the hover that it will change when the user hovers over the image
the object fit cover is so when the image is set to a size, the rest of the image is cut off*/
body div img{
    position: relative;
    width: 550px; 
    height: 250px;
    object-fit: cover; 
}

#mainslide{
    position: relative;
    width: 550px; 
    height: 250px;
    margin-left: 550px;
    object-fit: cover; 
}
#saladslide{
    position: relative;
    width: 550px; 
    height: 250px;
    margin-left: 0px;
    object-fit: cover;
}
#soupslide{
    margin-left:550px;  
    position: relative;
    width: 550px; 
    height: 250px;
    object-fit: cover;
}
#sideslide{
    position: relative;
    width: 550px; 
    height: 250px;
    margin-left: 0px;
    object-fit: cover;
}
#dessertslide{
    margin-left:550px;  
    position: relative;
    width: 550px; 
    height: 250px;
    object-fit: cover;
}

 /*add a space between the header and the body*/
#menuspace{
    padding:40px;
}

/*this effect is only for things that are the 2nd child so it should not effect the logo*/
body a div img:nth-child(2){
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/*the styling of all the texts for the recipe categories*/
body a div p{
    position: absolute;
    text-decoration: none;
    font-family: Calibri;
    color: #a91f23;
    font-size: 115px;
    margin-top: 60px;
}

/*format the text for each type of recipe*/
#mains p{
    text-indent: 115px;
}
#salads p{
    text-indent: 660px;
}
#soups p{
    margin-left: 115px;
}
#sides p{
    text-indent: 715px;
}
#desserts p{
    text-indent:40px;
}