/*the styling for the website*/

/*whole website*/
/*the whole page should have a margin on the side*/
*{
    width: 1100px;
    margin: auto;
    vertical-align: bottom;
    font-family: Calibri;
}

body{
    background-color: #F5F5F5; /*The bacground of the entire website*/
}



/

/*home page*/
/*the images should be boxes that are links to pages
the transitions are for the hover that it will change when the user hovers over the image
the object fit cover is so when the image is set to a size, the rest of the image is cut off*/
body div img{
    position: relative;
    width: 550px; 
    height: 250px;
    object-fit: cover; 
}

#mainslide{
    position: relative;
    width: 550px; 
    height: 250px;
    margin-left: 550px;
    object-fit: cover; 
}
#saladslide{
    position: relative;
    width: 550px; 
    height: 250px;
    margin-left: 0px;
    object-fit: cover;
}
#soupslide{
    margin-left:550px;  
    position: relative;
    width: 550px; 
    height: 250px;
    object-fit: cover;
}
#sideslide{
    position: relative;
    width: 550px; 
    height: 250px;
    margin-left: 0px;
    object-fit: cover;
}
#dessertslide{
    margin-left:550px;  
    position: relative;
    width: 550px; 
    height: 250px;
    object-fit: cover;
}
 /*add a space between the header and the body*/
#menuspace{
    padding:40px;
}

/*this effect is only for things that are the 2nd child so it should not effect the logo*/
body a div img:nth-child(2){
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/*the image turns black and white when hovered over*/
body a div img:nth-child(2):hover{
    -webkit-filter: grayscale(60%);
}

/*the styling of all the texts for the recipe categories*/
body a div p{
    position: absolute;
    text-decoration: none;
    font-family: Calibri;
    color: #a91f23;
    font-size: 115px;
    margin-top: 60px;
}

/*format the text for each type of recipe*/
#mains p{
    text-indent: 115px;
}
#salads p{
    text-indent: 660px;
}
#soups p{
    margin-left: 115px;
}
#sides p{
    text-indent: 715px;
}
#desserts p{
    text-indent:40px;
}

/*sign in/join*/
.sign{
    position: relative;
    height: auto;
    width: 550px;
    display: initial;
    margin: auto;
}
.sign form{
    font-size: 16px;
    font-family: Calibri;
    text-align: center;
}
.sign form input{
    font-size: 16px;
    font-family: Calibri;
    margin: 1px;
}
.sign form p{
    font-size: 12px;
}
.sign form input{
    width: 215px;
    height: 30px;
}

/*Submit recipe*/ 
.submitRecipe h1{
    font-family: Calibri;
}
.submitRecipe{
    font-size: 16px;
    font-family: Calibri; 
    text-align: center;
    margin: auto;
    position: relative;
}
.submitRecipe form textarea{
    font-size: 16px;
    font-family: Calibri;
    height:  250px; 
    width: 450px;  
}
.submitRecipe form input{
    width: 100px;
}
.submitRecipe .recipetitle{
    position: relative;
    height: auto;
    width: 200px;
    margin: auto;
}
.submitRecipe .submitRecipeButton{
    width: 200px;
    font-size: 16px;
    font-family: Calibri;

}
.submitRecipe form select{
    font-size: 16px;
    font-family: Calibri;
    width: 100px;
}

/*thank you*/
#thanks{
    text-align: center;
    color: #a91f23;
    font-family: calibri;
    font-size: 25px;
}

/*recipe pages*/
.pgtitle{
    font-family: Calibri;
    font-size: 40px;
    text-align: center;
    color: #F5F5F5;
    background-color: #a91f23;
}
.recipetitle{
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;

}

/*contact us*/
#contact input{
    width: 215px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
}
#contact h1{
    text-align: center;
}

#contact textarea{
    width: 500px;
    height: 300px;
    padding: 5px;
    font-size: 16px;
}