/*the styling for the website*/

/*whole website*/
/*the whole page should have a margin on the side*/
*{
    width: 1100px;
    margin: auto;
    vertical-align: bottom;
    font-family: Calibri;
}

body{
    background-color: #F5F5F5; /*The bacground of the entire website*/
}





/*sign in/join*/
.sign{
    position: relative;
    height: auto;
    width: 550px;
    display: initial;
    margin: auto;
}
.sign form{
    font-size: 16px;
    font-family: Calibri;
    text-align: center;
}
.sign form input{
    font-size: 16px;
    font-family: Calibri;
    margin: 1px;
}
.sign form p{
    font-size: 12px;
}
.sign form input{
    width: 215px;
    height: 30px;
}

/*Submit recipe*/ 
.submitRecipe h1{
    font-family: Calibri;
}
.submitRecipe{
    font-size: 16px;
    font-family: Calibri; 
    text-align: center;
    margin: auto;
    position: relative;
}
.submitRecipe form textarea{
    font-size: 16px;
    font-family: Calibri;
    height:  250px; 
    width: 450px;  
}
.submitRecipe form input{
    width: 100px;
}
.submitRecipe .recipetitle{
    position: relative;
    height: auto;
    width: 200px;
    margin: auto;
}
.submitRecipe .submitRecipeButton{
    width: 200px;
    font-size: 16px;
    font-family: Calibri;

}
.submitRecipe form select{
    font-size: 16px;
    font-family: Calibri;
    width: 100px;
}

/*thank you*/
#thanks{
    text-align: center;
    color: #a91f23;
    font-family: calibri;
    font-size: 25px;
}

/*recipe pages*/
.pgtitle{
    font-family: Calibri;
    font-size: 40px;
    text-align: center;
    color: #F5F5F5;
    background-color: #a91f23;
}
.recipetitle{
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;

}

/*contact us*/
#contact input{
    width: 215px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
}
#contact h1{
    text-align: center;
}

#contact textarea{
    width: 500px;
    height: 300px;
    padding: 5px;
    font-size: 16px;
}