.entirebody{
    margin: 0 auto;
    width: 960px;
	padding: 50px 0;
}
p{
	padding: 10px;
}
ul.mainnav {
  position:absolute;           /*to position the menu near the search bar*/
    height:20px;
    border-top:solid #a91f23 3px;
    border-bottom:solid #a91f23 3px;
    width: 790px;
    padding-top: 20px;          /*to center the menu between the two borders*/
    margin-left:-75px;
    z-index: 1;
}
ul.mainnav li {
    position:relative;          /*to position the menu near the search bar*/
    top:-15px;                  /*to center the menu between the two borders*/
    font-size:25px;
    display:inline;             /*to create a horizontal menu*/
    padding:10px 20px;           /*space between the menu options.*/
    font-family:Calibri;
}
ul.mainnav li a {
    text-decoration: none;      /*do not underline the links*/
    color:#663300;
}
ul.mainnav li a:hover, 
ul.mainnav li a.active {
    color: #a91f23;
}
ul.mainnav li a#magic-line {
    background: url("../images/mainnav_active.png") repeat-x scroll left top transparent;
    color: #D50100;
    height: 50px;
    left: 0;
    list-style: none outside none;
    opacity: 0.4;
    position: absolute;
    top: 0;
    z-index: -1;
}
